[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql = "*"
mysqlclient = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-xml = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.12"
